div{
    /*border-bottom: 8px solid red;
    border-left: 8px solid red;
    border-right: 8px solid red;*/
    border: 5px solid red;
    width: 400px;
    height: 320px;
   background-color: sandybrown; 
}
#a{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
#b{
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}
img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
}
td{
    width: 100px;
    height: 100px;
}
#c{
    border: 3px solid blue;
}
#d{
    border-top: 3px solid black;
    border-right: 3px solid black;
}
#e{
    border-top: 3px solid black;
    border-left: 3px solid black;
}